body {
   background-color: gray;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
	background-image:url(../Pictures/Back2.png);
	background-position: center;  
}

form {border-radius: 20px;}

h1{
	text-align: center;
}


.inptextmod1 {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inpsubmod1 {
      width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inpsubmod1:hover {
    background-color: #45a049;
}

.container {
  padding: 16px;
  background-color: white;
  border-radius: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 250px;
}