body {
   background-color: gray;
    padding: 20px;
    font-family: Arial;
	background-image:url(../Pictures/BackGrond.jpg);
	background-position: center;  
}

h1{
	text-align: center;
}

#rof{
	border:solid gray 2px;
	width: 23%;
	border-radius: 5px;
	margin: 5% auto;
	background: white;
	padding: 25px;
	text-align: center;
}

#sbtn{
	color:#fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 250px;
}